/* -----------------------------------START HEADER----------------------------------- */

/* Borda Azul do topo */
#borda {
  background-color: #9841E2;
  /* background-image: url(./img/logocenter.svg); */
  background-repeat: no-repeat, no-repeat;
  background-position: center;
  height: 73px;
  margin-bottom: 50px;
}


.img-fluid-2 {
  width: 100%;
  padding-top: 30px;
  height: 450px;
}

.center {
  /* Primeiro passo: definir um degradê como fundo */
  background-image: linear-gradient(to right, #9841E2, #287AA8);

  /* Segundo passo: apagar do fundo tudo que não estiver imediatamente atrás de texto */
  background-clip: text;
  -webkit-background-clip: text;
  /* Alguns navegadores precisam do prefixo */

  /* Terceiro passo: apagar o texto, deixando apenas o fundo atrás dele */
  -webkit-text-fill-color: transparent;

  /* Cor que contraste com o degradê, caso o navegador não suporte `background-clip: text` */
  color: black;

}

/* Estilização do container 1 que conta com o H2 */
.container1 {
  width: 583px;
  height: 450px;
}



/* Estilização do container 2 que mostra o conteúdo com valor */
.container2 {

  display: flex;
  justify-content: start;
  align-items: center;
  height: 500px;

  /* Texto */

}

.text-center {
  font-family: 'Roboto', sans-serif;
}

#textcontainer2 {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 21px;
  line-height: 25px;
  padding-top: 50px;
  padding-bottom: 15px;
  margin: 10px;
  width: 85%;
}


/* Dinheiro 2 container*/
.din {
  font-family: 'Roboto', sans-serif;
  font-size: 35px;
  font-weight: 700;
  color: #FF0000;
  margin: 0;
  padding: 0;

}

.caixa {
  border-style: groove;
  border-width: 2px 2px 2px 2px;
  border-color: #acacac4a;
  border-radius: 20px 20px 20px 20px;
  height: 140px;
  width: 390px;
  margin: 5px;
}

#oferta {
  font-family: 'Roboto', sans-serif;
  padding-top: 3vh;
  font-size: 17px;
  font-weight: 700;
}

/* -----------------------------------AND HEADER----------------------------------- */

/* ----------------------------------START MAIN--------------------------------------*/

/* Estilização do container 3 que mostra o conteúdo com valor */
.container3 {
  height: 500px;
  margin-top: 70px;
}

.container3 p {
  font-size: 21px;
  font-family: 'Roboto', sans-serif;
}

#pcontainer3 {
  font-weight: 700;
  font-size: 25px;
  font-family: 'Roboto', sans-serif;
}


/* Estilização do container 4 que mostra o conteúdo com valor */
.container4 {
  height: 500px;
  margin-top: 70px;
  font-family: 'Roboto', sans-serif;
  /* background-color: rgb(255, 0, 174); */
}

.container4 p {
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
}


/* CONTAINER DENTRO */
/* este container é o que o formulário está dentro.*/
.dentro {
  /* background-color: rgb(0, 0, 0); */
  width: 80%;
}



/* Estilização do Formulário */
#form-container {

  padding: 20px 20px 20px 20px;
  background-color: #FFF;
  border-style: solid;
  border-width: 10px 10px 10px 10px;
  border-color: #FFF;
  border-radius: 20px 20px 20px 20px;
  box-shadow: 0 0 24px 0 rgb(0 0 0 / 50%);
  /* width: 416px; */
  height: 100%;
}

.newbutton {
  padding: 20px 20px 20px 20px;
  background-color: #FFF;
  border-style: solid;
  border-width: 10px 10px 10px 10px;
  border-color: #FFF;
  border-radius: 20px 20px 20px 20px;
  box-shadow: 0 0 24px 0 rgb(0 0 0 / 50%);
  /* width: 416px; */
  height: 32%;
  width: 90%;
}

.container2 .botao {
  width: 85%;
  height: 85px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  background-color: #03A430;
  border-radius: 20px 20px 20px 20px;
  color: #FFF;
  border: none;
  margin-top: 28px;
  font-weight: 500;
  font-size: 19px;
  font-family: 'Roboto', sans-serif;
}

.and .botao {
  width: 400px;
  height: 80px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  background-color: #03A430;
  border-radius: 20px 20px 20px 20px;
  color: #FFF;
  border: none;
  margin-top: 28px;
  font-weight: 600;
  font-size: 19px;
}



/*


/* -----------------------------------AND MAIN----------------------------------- */


/* Espaçamento do segundo container */
.center {
  padding-top: 69px;
  font-family: 'Ubuntu', sans-serif;
  font-size: 35px;
  font-weight: 900;
}

/* /Espaçamento do segundo container FIM*/





/* Ordem para responsividade */
.order1 {
  order: 1;
}

.order2 {
  order: 2;
}

.order3 {
  order: 3;
}



/* Estilização das ferramentas */
.item {
  height: 220px;
  width: 350px;
}

#img-3 {
  max-width: 100px;
  max-height: 100px;
}

/* Texto das ferramentas */
#ferramenta {
  color: black;
  padding-top: 80px;
  padding-bottom: 30px;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 50px;
}

#ferramenta2 {
  color: black;
  padding-top: 15px;
  padding-bottom: 5px;
  font-weight: 700;
  font-size: 55px;
  font-family: 'Roboto', sans-serif;
}


.column {
  flex-direction: column;
}

#cortexto {
  font-weight: 700;
  line-height: 1.2;
  color: inherit;
  text-align: center;
  padding-top: 10px;
  font-size: 18px;
}

/* /Estilização das ferramentas FIM*/

.container5 {
  padding-bottom: 70px;
}

/* Estilização acordeon container6 */
.container6 {
  background-color: #F7F9FB;
  height: 900px;
}

.container6 p {
  font-size: 16px;
}

/* -----------------------------------START ACCORDION----------------------------------- */
.accordion {
  width: 100%;
  margin: 0 auto;
}

.accordion__title {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
  font-size: 1.125em;
}

.accordion__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.accordion__item {
  /* border-bottom: 1px solid #000; */
  visibility: hidden;
  padding-bottom: 10px;
}

.accordion__item:last-child {
  border-bottom: 0;
}

.accordion__item.is-active .accordion__itemTitleWrap::after {
  -webkit-transform: translateX(-20%);
  transform: translateX(-20%);
}

.accordion__item.is-active .accordion__itemIconWrap {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

/* Título do accordeon */
.accordion__itemTitleWrap {
  display: flex;
  height: 3.5em;
  align-items: center;
  padding: 0 1em;
  color: #042CA7;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  /* border-style: solid;
    border-width: 2px 2px 2px 2px;
    border-color: #0062ff; */
  border-radius: 100px 100px 100px 100px;
}

/* .accordion__itemTitleWrap.accordion__itemTitleWrap:hover {
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: #36DB9F;
} */

.accordion__itemTitleWrap::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 200%;
  height: 100%;
  background: #fff;
  /* background: linear-gradient(45deg, #3bade3 0%, #576fe6 25%, #9844b7 51%, #ff357f 100%); */
  background: linear-gradient(45deg, #fff);
  background-color: #ffffff;
  z-index: 1;
  transition: -webkit-transform .4s ease;
  transition: transform .4s ease;
  transition: transform .4s ease, -webkit-transform .4s ease;
  background-image: black 0%;

}

.accordion__itemTitleWrap.is-active::after,
.accordion__itemTitleWrap:hover::after {
  -webkit-transform: translateX(-20%);
  transform: translateX(-20%);
}

.accordion__itemIconWrap {
  width: 1.25em;
  height: 1.25em;
  margin-left: auto;
  position: relative;
  z-index: 10;
}

.accordion__itemTitle {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 1em;
  position: relative;
  z-index: 10;
}

.accordion__itemContent {
  font-size: 0.875em;
  height: 0;
  overflow: hidden;
  background-color: #fff;
  padding: 0 1.25em;
}

.accordion__itemContent p {
  margin: 2em 0;
}

.accordion h3 {
  font-weight: 600;
}


.form-check input[type=radio]:checked {
  background-color: #36DB9F;
  border-color: #36DB9F;
}

/* -----------------------------------AND ACCORDION----------------------------------- */

/* -----------------------------------START TEXTOS ESTILIZAÇÕES----------------------------------- */

/* Distancia a logo com as marcas do texto que fica na parte de cima. */
.img-marcas {
  padding-top: 15px;
  height: 35px;
  width: 500px;
  padding-bottom: 30px;
}

/* Estilização texto */
p {
  font-family: 'Roboto', sans-serif;
  font-size: 19px;
  font-weight: 400;
}

/* Estilização do H2 */
h2 {
  font-size: 38px;
  text-align: center;
  font-weight: 900;
  line-height: 1.5;
  color: #333;
}



/* -----------------------------------AND TEXTOS ESTILIZAÇÕES----------------------------------- */

/* -----------------------------------START MEDIA----------------------------------- */
/* Responsividade e tamanho das divs */
@media (max-width: 768px) {

  .container1 {
    display: flex;
    height: 350px;
  }

  .container1 .img-fluid-2 {

    height: 300px;
  }


  .container1 img {
    width: 100%;
    height: 80%;
    padding-top: 40px;
  }

  .container-fluid .botao {
    margin-top: 30px;
  }

 

  .container4 {
    padding-bottom: 700px;
  }



  .container2 {
    width: 100%;
    height: 100px;
  }

  .container2 #textcontainer2 {
    display: none;
  }

  .container2 {}

  .container2 .botao {
    display: none;
  }

  .container2 #oferta {
    padding-top: 1vh;
  }

  .container2 .caixa {
    width: 335px;
  }


  /* .container4 {
    order: 1;
    height: 1100px;
  } */

  .dentro {
    width: 100%;

  }

  .teste {
    visibility: visible;
  }

  #ferramenta {
    padding-top: 60px;
  }

  #din2 {
    text-align: center;
  }

  .container6 {
    height: 1200px;
  }

  .container6 .text-center {}


}

@media (max-width:1199px) {
  .container4 {
    height: 600px;
  }
}

/* -----------------------------------AND MEDIA----------------------------------- */

/* CORREÇÃO ROLAGEM LATERAL NO MOBILE */
html,
body {
  height: 100%;
  overflow-x: hidden;
}

.place {
  color: #BFBFBF;
}

.container {
  /* border: 1px solid black; */
}

.and {
  height: 130px;
  background-color: #F7F9FB;
}

.whatsapp {
  background-color: #F7F9FB;
  background-repeat: no-repeat, no-repeat;

}

.logologo {
  width: 280px;
}

.whatsapp-link {
  position: fixed;
  right: 40px;
  bottom: 40px;
  z-index: 1000;
}